* {
  background-color: #197aa7;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pageTitle {
  font-size: 80px;
  text-align: center;
}

#inputWrapper {
  width: 40%;
  margin: 30px auto;
  text-align: center;
}

#wrapper2 {
  text-align: left;
}

.inputInnerWrapper {
  text-align: left;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

#inputCity {
  background-color: white;
  color: black;
}
