* {
  background-color: #197aa7;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pageTitle {
  font-size: 80px;
  text-align: center;
}

#goButton:hover {
  background-color: tomato;
  color:white;
}

#goButton {
  margin-left: 5px;
  border-radius: 5px;
  transition-duration: 0.4s;
  outline: none;
}

#radioButtons {
  text-align: left;
}

.inputStyle {
  background-color: white;
  color: black;
}


.inputInnerWrapper {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.outerWrapper {
  margin: 0px;
  padding: 10px;
  text-align: center;
  border-top: 1px solid white;
}

.innerWrapper {
  display: inline-block;
  text-align: left;
  padding: 0px 30px;
}
