* {
  background-color: #197aa7;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#pageTitle {
  font-size: 80px;
  text-align: center;
}

#inputCity {
  background-color: white;
  color: black;
}